body{
  margin:0px;
  padding:0px;
  background-color: #FFFFFF;
}

ul{
  list-style:none;
}

.header{
  width: 100%;
  height: 100px;
  background-color: #D82E2E;
}
#files li{
  border-radius:4px;
  border: 1px solid #C5A5A5;
  background-color: #FFFFFF;
}
#files li .file-meta{
  height:10px;
  border-bottom:1px solid red;
}
