body{
  margin:0px;
  padding:0px;
  background-color: #FFFFFF;
  font-family: 'Ubuntu', sans-serif;
}

ul{
  list-style:none;
}

.header{
  width: 100%;
  height: 30px;
  background-color:#ECEFEE;
  position: fixed;
  top:0px;
  text-align: center;
  box-shadow: 0px 2px 9px #F3F3F3;
}
.header h4{
  margin-top:5px;
  font-family: 'monospace';
  font-weight: 400;
}
#status{
  border-radius:6px;
  font-size:9px;
  vertical-align:3px;
}
.error{
  background-color: #DC0000;
  animation: redPulse 1s infinite alternate;
}
.success {
  background-color: #2DA92D;
  animation: greenPulse 1s infinite alternate;
}


@keyframes greenPulse{
  from { box-shadow:0px 0px 1px 1px #23D223; }
  to { box-shadow:0px 0px 3px 3px #23D223; }
}

@keyframes redPulse{
  from { box-shadow:0px 0px 1px 1px #FB1A00; }
  to { box-shadow:0px 0px 3px 3px #FB1A00; }
}

#logs{
  margin-top:30px;
  height:90%;
  overflow-y:scroll;
}
#logs p{
  margin: 3px;
  font-size:15px;
}
#files{
  position:fixed;
  background-color:#FBFFF5;
  padding:5px;
  border: 1px solid #DED7D7;
  border-radius: 2px;
  box-shadow: 2px 2px 4px #DED7D7;
  bottom: 40px;
  right:1px;
}
#files>ul>li>hr{
  border: 0.1em outset #FFFFFF; 
}
#files>ul{
  margin:0px;
  padding:0px;
}
#files>ul>li{
  padding:2px;
}
#files>ul>li>label{
  cursor:pointer;
}
.hidden{
  display:none;
}
.search-hidden{
  display:none;
}

.footer{
  background-color:#ECEFEE;
  position:fixed;
  bottom:1px;
  height:40px;
  width:100%
}

input{
  border:1px solid #B0B3B2;
  background-color:#FFFFFF;
}
input[type='text']{
  width:80%;
  outline:none;
  padding:5px;
  border-radius:4px;
  height:40px;
  font-size:14px;
}

input[type='button']{
  position:absolute;
  top:1px;
  right:2px;
  font-size:25px;
  width:60px;
  height:39px;
  outline:none;
  border-radius: 2px;
  cursor:pointer;
  transition: background-color 0.5s ease;
  background-color:#EFEFEF;
}
input[type='button']:hover, input[type='button']:active{
  background-color:#DEDEDE;
}
